.container {
  display: grid;
  text-align: start;
  grid-gap: 10px;
  padding: 15px;
}

.link {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background: teal;
    color: white;
}
